body{
    display: flex;
    align-items:center ;
    justify-content: center;

}

.container{
    width: 400px;
    height: 60vh;
    


} 
img{
    width: 100%;
    height: 350px;
    
}

#progress .times, .card-footer,#volume-container{
    display: flex;
    align-items: center ; 
    justify-content: space-between;
}

#volume{
    cursor: pointer;
}

#control{
    cursor: pointer;
}

span{
    cursor: pointer;
}